
.grid-container{
    display: grid;
    grid-template-areas: 
    "One One One"
    "Two Three Three"
    ". Four Four";
    gap: 10px;
}

.grid-item{
    padding: 20px;
    border-radius: 10px;
    color: aliceblue;
    background-color: rgb(43, 108, 228);
    border: .15em solid cadetblue;
}

.item-1{
    grid-area: One;
}

.item-2 {
    grid-area:  Two;
}

.item-3{
    grid-area: Three;
}

.item-4{
    grid-area: Four;
}

