body{
    margin: 0;
}
#Header{
    margin-left: 5%;
}

#front-page-photo{
    min-width: 1000px;
    max-width: 1000px;
    max-height: 600px;
}


#AboutMe{
    padding-left: 15%;
    padding-right: 15%;
    position: relative;
}