body{
    margin: 0;
    background-color: black;
    color:aliceblue;
    font-size:24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

h1{
    margin: 0;
    background-color: grey;
    display: flex;
    justify-content: center;
}

nav{
    background-color: aliceblue;
    margin-right: 30%;
    margin-left: 30%;
    position: sticky;
    border: solid cornflowerblue 10px;
}

main{
    max-width: 80rem;
}
.items{
    display: flex;
    justify-content: center;
    gap: 30px;
}