body{
    margin: 0;
    background-color: black;
    color:aliceblue;
    font-size:24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

h1{
    margin: 0;
    background-color: grey;
    display: flex;
    justify-content: center;
}

nav{
    position: sticky;
}